<div class="centered">
    <mat-card class="card">
        <mat-card-header>
            <img mat-card-avatar [src]="dogeImg" alt="Doge"/>
            <mat-card-title>Iurii Kondrakov</mat-card-title>
            <mat-card-subtitle>Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="pepeImg" alt="Pepe"/>
        <mat-card-content>
            <p>
                A guy who is passionate about his programming life.
                <br>
                Also a guy who works in moving during leisure time.
            </p>
        </mat-card-content>
        <mat-card-actions class="social">
            <a href="https://github.com/Deezzir">
                <span>
                    <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
                </span>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100004475354920">
                <span>
                    <fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon>
                </span>
            </a>
            <a href="https://www.instagram.com/deezir__">
                <span>
                    <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
                </span>
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                <span>
                    <fa-icon [icon]="['fab', 'youtube']" size="2x"></fa-icon>
                </span>
            </a>
        </mat-card-actions>
    </mat-card>
</div>
