<mat-card>
    <mat-card-content>
        <form (ngSubmit)="onSubmit()">
            <div class="form-container">
                <h2>Welcome</h2>
                <mat-error *ngIf="warning">{{warning}}</mat-error>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="User Name" name="username" [(ngModel)]="user.userName" required
                           autofocus>
                    <mat-error>Please provide a valid user name</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password" name="password"
                           [(ngModel)]="user.password" required>
                    <mat-error>Please provide a valid password</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password Confirmation" name="password2"
                           [(ngModel)]="user.password2" required>
                    <mat-error>Please provide a valid password</mat-error>
                </mat-form-field>
                <mat-label *ngIf="success">Successfully Registered<br/><br/></mat-label>
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <div fxLayout="column">
                        <button style="min-width: 12em" [attr.disabled]="loading ? '' : null" mat-raised-button
                                color="primary" type="submit">
                            <mat-icon *ngIf="!loading">account_box</mat-icon>
                            <mat-icon *ngIf="loading">pending</mat-icon>
                            <span *ngIf="!loading">&nbsp;&nbsp;&nbsp;Register</span>
                            <span *ngIf="loading">&nbsp;&nbsp;&nbsp;Loading</span>
                        </button>
                    </div>
                    <div *ngIf="success" fxLayout="column">
                            <a style="min-width: 12em" mat-raised-button color="accent" routerLink="/login">
                                <mat-icon>login</mat-icon>&nbsp;&nbsp;&nbsp;Login
                            </a>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
